.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.container >*{
  min-width: 15rem;
  max-width: 25rem;
}
img{
  flex: 1 0;
  object-fit: cover;

  margin: 1rem;
  border-radius: 3rem;
}
.details{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1 0;
  border: 3rem;
  padding: 2rem;
  color: black;
  margin-left: 1rem;
}
.header{
  display: flex;
  justify-content: space-between;
}
.name{
  font-weight: bold;
  font-size: 2rem;
}
.favorite{
  color: chocolate;
  font-size: 2rem;
}
.favorite.not{
  color: gray;
}
.description{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.description span{

  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;

}
.tags{
  flex-wrap: wrap;
  display: flex;
}
.tags a{
  padding: 0.3rem 1rem;
  margin: 0.3rem 0;
  border-radius: 10rem;
  background-color: #f0f0f0;
  font-weight: bold;
  color: chocolate;
}
.sizeWeight{
  margin-top: 1rem;
}
.sizeWeight span{
  padding: 0.6rem 2rem 0.6rem 0;
  border-radius: 10rem;
  font-size: 1rem;
}
.price{
  font-size: 1.8rem;
  margin: 2rem 2rem 2rem 0;
  color: chocolate;
}
.price::after{
content: '₽';
}
button{
  background-color: chocolate;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}
button:hover{
  opacity: 0.9;
  cursor: pointer;
}
